header {
    width: 100%;
}

.gnb {
    position: fixed;
    width: 100%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.8);
}

.gnb-menu {
    width: 100%;
    max-width: 1000px;/*1000px 이하에서는 100% 유지*/
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb-menu li {
    height: 100%;
}

.gnb-menu li a {
    display: inline-block;
    line-height: 44px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(245, 245, 247,0.8);
    padding: 0 10px;
}

.gnb-logo a {
    width: 36px;
    height: 44px;
    background-image: url("../img/globalnav_apple_image__cxwwnrj0urau_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.gnb-search a {
    width: 38px;
    height: 44px;
    background-image: url("../img/globalnav_search_image__fca9mfoh8a2q_large.svg");
    background-repeat: no-repeat;
    background-position: 10px 0;
    background-size: 18px 88px;
}

.gnb-bag a {
    width: 37px;
    height: 44px;
    background-image: url("../img/globalnav_bag_image__bmix8075eg4i_large\ \(1\).svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.gnb-menu-s {
    display: none;
}

.ac-gnb {
    display: none;
}



@media only screen and (max-width: 1608px) {
    .gnb {
        padding: 0 12px;
    }
}

@media only screen and (max-width: 767px) {
    .gnb {
        width: 100%;
        height: 48px;
        overflow: hidden;
        padding-right: 0;
        padding-left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all .6s;
    }
    .gnb-menu {
        display: none;
    }
    .gnb-menu-s {/*처음부터 gnb를 html에 하나 더 마크업해서 display:none;으로 해도 됨*/
        width:100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .gnb-menu-s li {
        height: 100%;
    }
    .gnb-menu-s li a {
        display: inline-block;
        width: 48px;
        height: 48px;
        padding: 0 10px;
        opacity: .8;
    }
    .gnb-menu-s .hidden-menu a {
        background-image: url("../img/menubar_2line.svg");
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
    .gnb-menu-s .x-menu{
        display: inline-block;
        width: 48px;
        height: 48px;
        padding: 0 10px;
        opacity: .8;
        background-image: url("../img/menubar_close.svg");
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    .gnb-logo a {
        background-size: 50px 50px;
    }
    .ac-search {
        width: 100%;
        height: 53px;
        border-bottom: 1px solid rgb(66, 66, 69);
    }
    .ac-search a {
        max-width: 584px;
        margin: 0 auto;
        height: 36px;
        background-color: rgb(29, 29, 31);
        border-radius: 6px;
        display: flex;
        align-items: center;
        font-size: 17px;
        line-height: 36px;
        font-weight: 300;
        color: rgba(245, 245, 247,0.4);
    }
    .ac-search-img {
        display: inline-block;
        width: 29px;
        height: 36px;
        padding: 0 7px;
    }
    .ac-search a img {
        width: 14px;
        height: 14px;
        vertical-align: middle;
        
    }
    .ac-menu {
        padding: 0 40px 8px;
    }
    .ac-menu li {
        display: flex;
        align-items: center;
        height: 44px;
        font-family: "SF Pro KR", "SF Pro Text";
        font-size: 17px;
        font-weight: 300;
        line-height: 1.23536;
        border-bottom: 1px solid rgb(66, 66, 69);
    }
    .ac-menu a {
        color: rgba(245, 245, 247,0.8);
    }
    .ac-menu li:last-child {
        border-bottom: none;
    }
}

/* Main */

/* Banner */
.banner-wrap {
    width: 100%;
    padding-top: 44px;
}

.banner-text {
    font-size: 14px;
    text-align: center;
    line-height: 46px;
}

.banner-text a {
    color: rgb(0, 102, 204);
}

@media only screen and (max-width: 734px) {
    .banner-wrap {
        max-width: 320px;
        margin: 0 auto;
        padding: 54px 0 10px;
    }
    .banner-text {
        line-height: 1.58824;
    }
}

/* Hero-1 iPhone 12*/
.hero-1 {
    width: 100%;
    height: 692px;
    background-color: rgb(251, 251, 253);
    text-align: center;
    padding-top: 55px;
    background-image: url("../img/iphone_12_us__fo0stbby242m_largetall\ \(1\).jpg");
    background-size: auto;
    background-position: center bottom;
}

.subhead-black {
    margin-top: 6px;
}

.price-info {
    margin-top: 13.6px;
    color: rgb(134, 134, 139);
}

.price-info sup {
    vertical-align: top;
}

.hero-link-whitebg {
    margin-top: 13.65px;
}

.hero-link-whitebg a {
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: rgb(0, 102, 204);
    margin: 0 16px;
}

/* hero-2 iPhone 12 Pro*/
.hero-2 {
    width: 100%;
    height: 692px;
    background-color: rgb(251, 251, 253);
    text-align: center;
    padding-top: 55px;
    background-image: url("../img/iphone_12_pro_us__e5oyysg4k0ya_largetall\ \(1\).jpg");
    background-size: auto;
    background-position: center bottom;
    margin-top: 12px;
}

.headline-white {
    color: rgb(245, 245, 247);
}

.subhead-white {
    margin-top: 6px;
    color: rgb(245, 245, 247);
}

.hero-link-blackbg {
    margin-top: 13.65px;
}

.hero-link-blackbg a {
    margin: 0 16px;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: rgb(41, 151, 255);
}
/* hero-3 iPad Air */
.hero-3 {
    width: 100%;
    height: 692px;
    background-color: rgb(251, 251, 253);
    text-align: center;
    padding-top: 55px;
    background-image: url("../img/hero__dvsxv8smkkgi_large.jpg");
    background-size: auto;
    background-position: center bottom;
    margin-top: 12px;
}

@media screen and (max-width: 1068px) {
    /* Hero */
    .hero-1,
    .hero-2,
    .hero-3 {
    height: 650px;
    padding-top: 61px;
    }
    .hero-1 {
        background-image: url("../img/iphone_12_us__1068.jpg");
    }
    .hero-2 {
        background-image: url("../img/iphone_12_pro_us__1068.jpg");
    }
    .hero-3 {
        background-image: url("../img/hero__iPhone_air_1068.jpg");
    }
    h2 {
    font-size: 48px;
    line-height: 1.17865;
    }
    h3 {
        font-size: 24px;
        line-height: 1.29167;
        letter-spacing: 0.009em;
    }
    .hero-link-whitebg a,
    .hero-link-blackbg a {
        font-size: 19px;
        line-height:  1.31579;
    }
}

@media only screen and (max-width: 734px) {
    .hero-1,
    .hero-2,
    .hero-3 {
    height: 500px;
    padding-top: 37px;
    }
    .hero-1 {
        background-image: url("../img/iphone_12_us__fo0stbby242m_small.jpg");
    }
    .hero-2 {
        background-image: url("../img/iphone_12_pro_us__e5oyysg4k0ya_small.jpg");
    }
    .hero-3 {
        background-image: url("../img/hero__dvsxv8smkkgi_small.jpg");
    }
    h2 {
    font-size: 32px;
    line-height: 1.21875;
    }
    h3 {
        font-size: 19px;
        line-height: 1.52632;
        letter-spacing: 0.012em;
    }
    .price-info {
        width: 100%;
        max-width: 200px;
        margin: 13.6px auto 0;
        font-size: 14px;
        line-height: 1.57143;
        padding: 0 30px;
    }
    .hero-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 35px;
    }
    .hero-3 h2 {
        display: none;
    }
    .hero-link-whitebg a,
    .hero-link-blackbg a {
        margin: 0 14px;
    }
    .hero-link-whitebg,
    .hero-link-blackbg {
        margin-top: 13.3px;
    }
}

/* Promo-1 Apple Watch*/
.promo-wrap {
    width: 100%;
}

.promo {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 12px 6px;
}

.promo-1 {
    width: calc(50% - 12px);
    height: 580px;
    margin: 0 6px 12px;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/tile__cauwwcyyn9hy_large\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
    padding-top: 44px;
}

.promo-1 img {
    height: 50px;
}

.promo-subhead-white {
    font-size: 21px;
    letter-spacing: 0.336px;
    line-height: 26px;
    margin-top: 11px;
    color: rgb(245, 245, 247);
}

.promo-link-blackbg {
    margin-top: 11.9px;
}

.promo-link-blackbg a {
    font-size: 17px;
    margin: 0 14px;
    line-height: 23px;
    letter-spacing: 0;
    color: rgb(41, 151, 255);
}

.promo-2 {
    width: calc(50% - 12px);
    height: 580px;
    margin: 0 6px 12px;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/promo_watch_black_unity_collection__glt5v0ra46q2_large.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 57px;
}

.promo-2 img {
    height: 57px;
}

/* promo-3 MacBook Pro */
.promo-3 {
    width: calc(50% - 12px);
    height: 580px;
    margin: 0 6px 12px;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/macbook_pro_13__koscrc0x6wam_large.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 29px;
}

.promo-eyebrow {
    color: rgb(245, 245, 247);
}

.promo-headline-white {
    color: rgb(245, 245, 247);
    font-size: 40px;
    line-height: 44px;
    margin-top: 2px;
}

.promo-3 h3 {
    margin-top: 4px;
}

/* promo-4 MacBook Air */
.promo-4 {
    width: calc(50% - 12px);
    height: 580px;
    margin: 0 6px 12px;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/macbook_air__knzp0i282eyy_large.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

.promo-4 h3 {
    margin-top: 4px;
}

/* promo-5 Apple 여의도 */
.promo-5 {
    width: calc(50% - 12px);
    height: 580px;
    margin: 0 6px;
    background-image: url("../img/promo_large.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 53px;
}

.promo-headline-black {
    color: rgb(29, 29, 31);
    font-size: 40px;
    line-height: 44px;
    margin-top: 2px;
}

.promo-subhead-black {
    font-size: 21px;
    letter-spacing: 0.336px;
    line-height: 26px;
    margin-top: 11px;
    color: rgb(29, 29, 31);
}

.promo-5 h3 {
    margin-top: 4px;
}

.promo-link-whitebg {
    margin: 11.9px;
}

.promo-link-whitebg a {
    margin: 0 14px;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0;
    color: rgb(0, 102, 204);
}

/* promo-6 School */
.promo-6 {
    width: calc(50% - 12px);
    height: 580px;
    margin: 0 6px;
    background-color: rgb(241, 241, 243);
    background-image: url("../img/promo_6.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 53px;
}

.promo-6 .promo-headline-black {
    max-width: 455px;
    margin: 0 auto;
}

@media screen and (max-width: 1068px) {
    .promo li {
        height: 490px;
    }
    .promo-1 {
        padding-top: 26px;
    }
    .promo-1 img {
        height: 46px;
    }
    .promo-2 {
        padding-top: 44px;
    }
    .promo-2 img {
        height: 47px;
    }
    .promo-3 {
        padding-top: 19px;
    }
    .promo-4,
    .promo-5,
    .promo-6 {
        padding-top: 42px;
    }
    .promo-1 {
        background-image: url("../img/tile__cauwwcyyn9hy_1068.jpg");
    }
    .promo-2 {
        background-image: url("../img/promo_watch_black_unity_1068.jpg");
    }
    .promo-3 {
        background-image: url("../img/macbook_pro_13__1068.jpg");
    }
    .promo-4 {
        background-image: url("../img/macbook_air__knzp0i282eyy_1068.jpg");
    }
    .promo-5 {
        background-image: url("../img/promo_medium_apple_1068.jpg");
    }
    .promo-6 {
        background-image: url("../img/tile__cauwwcyyn9hy_school_1068.jpg");
    }
    .promo-headline-white,
    .promo-headline-black {
        font-size: 32px;
        line-height: 1.125;
    }
    .promo-subhead-white,
    .promo-subhead-black {
        font-size: 19px;
        letter-spacing: 0.228px;
        line-height: 1.31579;
    }
    .promo-6 .promo-headline-black {
        max-width: 255px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 734px) {
    .promo {
        padding-left: 0;
        padding-right: 0;
    }

    .promo li {
        height: 500px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .promo-1 {
        padding-top: 22px;
    }
    .promo-2 {
        padding-top: 39px;
    }
    .promo-2 {
        background-image: url("../img/promo_watch_black_unity_collection__glt5v0ra46q2_small734.jpg");
    }
    .promo-3 {
        padding-top: 22px;
    }
    .promo-4,
    .promo-5,
    .promo-6 {
        padding-top: 42px;
    }
    .promo-5 {
        background-color: rgb(251, 251, 253);
        margin-bottom: 12px;
    }
}

/* Footer */

footer {
    width: 100%;
    background-color: rgb(245, 245, 247);
}

.footer-wrap {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 22px;
}

/* footer-note */

.footer-note {
    padding: 17px 0 20.6px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(134, 134, 139);
    border-bottom: 1px solid rgb(210, 210, 215);
    white-space: wrap;
}

.footer-note a {
    color: rgb(81, 81, 84);
}

.footer-note a:hover {
    color: rgb(29, 29, 31);
    text-decoration: underline;
}

/* footer-nav */

.footer-nav-wrap {
    display: flex;
    padding-top: 20px;
}

.footer-nav-menu {
    width: 25%;
}

.footer-nav-menu h4 {
    margin-bottom: 9.6px;
}

.footer-nav-menu li {
    line-height: 16px;
    margin-bottom: 9.6px;
}

.footer-nav-menu a {
    font-size: 12px;
    color: rgb(81, 81, 84);
    line-height: 16px;
}

.footer-nav-menu a:hover {
    text-decoration: underline;
}

.footer-nav-menu ul {
    margin-bottom: 20px;
}

.footer-nav-menu ul h4 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: rgb(29, 29, 31);
}

.footer-nav-menu .plus {
    display: none;
}

/* footer-shop */

.footer-shop {
    border-bottom: 1px solid rgb(210, 210, 215);
}

.footer-shop p {
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(134, 134, 139);
}

.footer-shop p a {
    color: rgb(0, 102, 204);
}

.footer-shop p a:hover {
    text-decoration: underline;
}

/* footer-legal */

.footer-legal {
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-legal-box {
    display: flex;
    align-items: center;
}

.footer-legal-copy {
    font-size: 12px;
    line-height: 16px;
    color: rgb(134, 134, 139);
}

.footer-legal-links {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.footer-legal-copy {
    margin: 5px 30px 0 0;
}

.footer-legal-links a {
    font-size: 12px;
    line-height: 16px;
    color: rgb(81, 81, 84);
    border-right: 1px solid rgb(210, 210, 215);
    padding-right: 8px;
    margin-right: 9px;
}

.footer-legal-links li:last-child a {
    border-right: none;
}

.footer-legal-links a:hover {
    color: rgb(29, 29, 31);
    text-decoration: underline;
}

.footer-local-link a {
    font-size: 12px;
    line-height: 16px;
    color: rgb(81, 81, 84);
}

.footer-local-link a:hover {
    color: rgb(29, 29, 31);
    text-decoration: underline;
}

.footer-adress {
    font-size: 11px;
    color: rgb(153, 153, 153);
    padding-bottom: 20px;
}

.footer-adress span {
    white-space: nowrap;
}

@media only screen and (max-width: 767px) {
    .footer-wrap {
        width: 100%;
        padding: 0 16px;
    }
    .footer-nav-wrap {
        flex-direction: column;
    }
    .footer-note {
        width: 100%;
    }
    .footer-nav-menu {
        width: 100%;
    }
    .footer-nav-menu ul {
        margin-bottom: 0;
    }
    .footer-nav-menu ul li {
        display: none;
    }
    .footer-nav-menu ul h4 {
        padding: 10px 0;
        margin-bottom: 0;
        cursor: pointer;
        color: rgba(29, 29, 31,0.7);
        border-bottom: 1px solid rgb(210, 210, 215);
        transition: color .3s;
        display: flex;
        justify-content: space-between;
        padding-right: 8px;
    }
    .footer-nav-menu ul h4:hover {
        color: rgb(29, 29, 31);
    }

    .footer-nav-menu .plus {
        display: inline-block;
    }
    
    .footer-shop {
        border-bottom:none;
        padding-top: 17px;
    }
    .footer-adress {
        font-size: 11px;
        line-height: 14.6671px;
        color: rgb(153, 153, 153);
        padding-bottom: 20px;
    }
    .footer-legal {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer-local-link {
        padding-bottom: 15px;
    }
    .footer-legal-box {
        flex-direction: column;
        align-items: flex-start;
    }
}